@charset "UTF-8";

body {
    background-color: gray;
}

main {
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 10px;
}
article h1 {
    background-color: rgb(34, 79, 228);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
}