@charset "UTF-8";

* {
    /* padding e margin não atribuidos automaticamente*/
    box-sizing: border-box;
}

body {
    background-color: #333;
    padding: 0;
    margin: 0;
    /* A propriedade overflow verifica se deve cortar o conteúdo ou adicionar uma scrollbar quando o conteúdo de um elemento for muito maior do que a área especificada. */
    overflow: hidden; 
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #ffff;

    /* Multiplica pixel por pixel da tela por um valor absoluto (3 no caso) */
    transform: scale(3) translateY(35%);
}

.game-container canvas{
    /* Renderiza a imagem da tela pixel por pixel */
    image-rendering: pixelated;
}